:root {
    /* Cores primárias */
    --primary-light-color: #B01BE3;
    --primary-normal-color: #9907CC;
    --primary-dark-color: #72009A;
    --hover-normal-color: #8707b6;

    /* Cores secundárias */

    --secundary-light-color: #040926;
    --secundary-normal-color: #040926;
    --segundary-dark-color: #000106;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
    background-color: #040926;
}

#top {
    width: 100%;
    background: rgb(11,8,46);
    background: linear-gradient(180deg, rgba(11,8,46,1) 0%, rgba(53,8,92,1) 50%, rgba(38,8,75,1) 100%);
}

/* HEADER */

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1220px;
    margin: auto;
    padding-top: 25px;
}

.menu {
    display: flex;
    align-items: center;
}

#menuItens {
    overflow-x:hidden;
    overflow-y:auto;
    transition: all ease .5s;
}

.menu ul {
    display: flex;
}

.menu ul li {
    list-style-type: none;
    padding: 0px 25px;
}

.menu ul li a {
    text-decoration: none;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    padding-bottom: 13px;
}

.menu ul li .active {
    border-bottom: 4px solid var(--primary-normal-color);
    border-radius: 3px;
}

.menu ul li a:hover {
    border-bottom: 4px solid var(--primary-normal-color);
    border-radius: 3px;
}

.menu .flagBR,
.menu .arrowIdiom {
    padding-left: 15px;
    cursor: pointer;
}

.menu .contactUs {
    width: 155px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    background-color: var(--primary-normal-color);
    border-radius: 20px;
    color: #FFF;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.menu .contactUs:hover {
    background-color: var(--hover-normal-color);
}

.menu-opener {
    display: none;
}

/* PRIMARY CONTENT */

.title h1 {
    color: #FFF;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    width: 448px;
    margin-top: 160px;
    margin-bottom: 25px;
}

.title h1 span {
    color: var(--primary-normal-color)
}

.subTitle p {
    margin: 0px;
    color: #FFF;
    font-family: 'Inter', sans-serif;;
    font-size: 16px;
    line-height: 26.8px;
}

.learnmoreButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 40px;
    background-color: var(--primary-normal-color);
    border-radius: 20px;
    margin-top: 20px;
}

.learnmoreButton:hover {
    background-color: var(--hover-normal-color);
}

.learnmoreButton a{
    color: #FFF;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}

.mainImage {
    margin-top: 60px;
}

/* SOLUTIONS */

.solutionInfo {
    background-color: var(--secundary-light-color);
}

.title-andSubtitle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.title-andSubtitle h4 {
    margin: 0;
    padding-top: 90px;
    padding-bottom: 15px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    line-height: 20.4px;
    letter-spacing: 3px;
    font-weight: 400;
    color: var(--primary-normal-color);
    text-transform: uppercase;
}

.title-andSubtitle h3 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    line-height: 40px;
    color: #FFF;
    margin-bottom: 100px;
    margin-top: 0px;
}

.solutionBox {
    width: 310px;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 90px;
}

.solutionImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 90px;
    background-color: #130936;
    border-radius: 45px;
    margin-bottom: 30px;
}

.solutionBox h4 {
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #FFF;
}

.solutionBox p {
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 25px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 23.8px;
    text-align: center;
    color: #FFF;
}

.solutionBox a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 35px;
    background-color: var(--primary-normal-color);
    border-radius: 18px;
    text-decoration: none;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
}

.solutionBox a:hover {
    background-color: var(--hover-normal-color);
}

/* ABOUT US */

.aboutUs {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(14,8,49);
    background: linear-gradient(180deg, rgba(14,8,49,1) 0%, rgba(75,9,117,1) 95%);
}

.aboutUs-info {
    display: flex;
    flex-direction: column;
    width: 410px;
    margin: 0px;
}

.aboutUs-info h3 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    color: #FFF;
    margin: 0px;
}

.aboutUs-info p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 28.8px;
    color: #FFF;
}

.aboutUs-info a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 40px;
    background-color: #FFF;
    border-radius: 20px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    color: var(--primary-dark-color);
    font-size: 15px;
}

.aboutUs-image {
    margin-top: 75px;
    margin-left: 290px;
    margin-bottom: 75px;
}

/* FEEDBACK */

.feedback {
    background-color: var(--secundary-light-color);
}

.title-andSubtitle #h3feedback {
    margin-bottom: 35px;
}

.feedbackAreaUser {
    max-width: 485px;
}

.feedbackAreaUser p {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
}

.feedbackUserInfo {
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 70px;
}

.feedbackUserInfo img {
    width: 45px;
    height: 45px;
}

.feedbackUserAll p {
    margin-left: 15px;
    font-family: 'Inter', sans-serif;
}

.feedbackUserAll .userName {
    color: var(--primary-normal-color);
    font-weight: bold;
}

/* FOOTER */

footer {
    background: rgb(14,8,49);
    background: linear-gradient(180deg, rgba(14,8,49,1) 0%, rgba(75,9,117,1) 95%);
}

.footerInfo {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
}

.footerSocial img {
    cursor: pointer;
}


.footerSocialIcons {
    margin-top: 20px;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 240px;
}

.footerTitle {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.footerTitle img {
    align-self: center;
    margin-right: 10px;
}

.footerTitle h4 {
    margin: 0;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.adressInfo {
    color: #FFF;
    font-style: normal;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 25px;
}

.lgpd ul {
    list-style: none;
    padding: 0;
}

.lgpd ul li {
    display: flex;
    align-items: center;
}

.lgpd ul li::before {
    content: "\2022";
    color: #FFF;
    display: inline-block; 
    width: 1em;
}

.lgpd ul li a {
    text-decoration: none;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    line-height: 25px;
    color: #FFF;
}

.lgpd ul li a:hover {
    text-decoration: underline;
}

footer hr {
    max-width: 1220px;
    height: 0px;
    border-top: none;
    margin-top: 30px;
    opacity: 10%;
}

.footerCopyright {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}

.footerCopyright a {
    margin: 0;
    color: #FFF;
    font-size: 13px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    opacity: 50%;
    text-decoration: none;
}

.footerCopyright a:hover {
    text-decoration: underline;
}

/* MEDIA QUERY */

@media (max-width: 850px) {
    
    .container {
        padding: 0px 40px;
    }

    .logo {
        padding-top: 30px;
    }

    .menu ul,
    .menu .flagBR,
    .menu .arrowIdiom,
    .menu .contactUs {
        display: none;
    }

    .menu-opener {
        display: block;
        width: 30px;
        padding-top: 20px;
    }

    .firstTitle {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .mainTitle {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mainImage img {
        width: 500px;
        padding-bottom: 80px;
    }

    .solutions {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .solutionInfo .title-andSubtitle h3 {
        margin-bottom: 70px
    }

    .solutionBox {
        margin-bottom: 40px;
    }

    .aboutUs {
        flex-direction: column;
    }

    .aboutUs-info {
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 80px;
    }

    .aboutUs-image {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 60px 0px;
    }

    .footerInfo {
        padding-top: 30px;
    }

    .footerCopyright {
        padding-bottom: 20px;
        padding-top: 20px;
    }
}

@media (max-width: 450px) {

    .title h1 {
        font-size: 40px;
        max-width: 350px;
    }

    .mainImage img {
        width: 380px;
        padding-bottom: 20px;
    }

    .aboutUs-image img {
        width: 300px;
    }

    .feedbackArea {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .feedbackAreaUser {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footerInfo {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footerSocial {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;
    }

    .footerEnd {
        display: flex;
        justify-content: center;
    }

    .footer,
    .lgpd {
        padding: 5px;
    }
    
}
